/* putting these outside of mobile-specific CSS
makes sure that browsers that don't support CSS
grid will present the site reasonably well */

.navdiv {
    display: inline;
}
    
.navdiv > p {
   display: inline;
}
    
.navelem {
    display: inline;
}


/* desktop mode */
@media not screen and (max-width: 800px) {
    #wrapper {
        display: grid;
        display: -webkit-grid;
        grid-template-columns: 140px auto;
        grid-template-rows: 48px auto auto;
        -webkit-grid-template-columns: 140px auto;
        -webkit-grid-template-rows: 48px auto auto;
    }
    
    .sitehead {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        -webkit-grid-column-start: 1;
        -webkit-grid-column-end: -1;
        -webkit-grid-row-start: 1;
        -webkit-grid-row-end: 2;
    }
    
    .content {
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: -1;
        -webkit-grid-column-start: 2;
        -webkit-grid-column-end: -1;
        -webkit-grid-row-start: 2;
        -webkit-grid-row-end: -1;
    }
    
    .navbar {
        margin-top: 16px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: -1;
        -webkit-grid-column-start: 1;
        -webkit-grid-column-end: 2;
        -webkit-grid-row-start: 2;
        -webkit-grid-row-end: -1;
    }
    
    .navbar > .navelem {
        display: block;
    }
    
    .navbar > hr {
        display: none;
    }

    .navdiv {
        display: block;
    }
    
    .navdiv > p {
        display: none;
    }

    .navelem {
        display: initial;
    }

    .navelem > * {
        display: initial;
    }

    body {
        max-width: 820px;
    }

    
    .blockimg {
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        max-width: 100%;
    }
}

/* hack for webkit browsers, since their CSS grid 
support is inconsistent (e.g. surf), and it causes
content to show up below the navbar instead of beside it */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .navdiv {
        display: inline;
    }
}

/* mobile mode */
@media screen and (max-width: 800px) {
    #wrapper {
        display: grid;
        grid-template-columns: auto 48px;
        grid-template-rows: 48px auto auto;
        display: -webkit-grid;
        -webkit-grid-template-columns: auto 48px;
        -webkit-grid-template-rows: 48px auto auto;
    }
    
    .sitehead {
        grid-column-start: 1;
        grid-column-end: -2;
        grid-row-start: 1;
        grid-row-end: 2;
        -webkit-grid-column-start: 1;
        -webkit-grid-column-end: -2;
        -webkit-grid-row-start: 1;
        -webkit-grid-row-end: 2;
    }
    
    .sitehead > hr {
        display: none;
    }
    
    .content {
        margin-top: 0px;
        padding-top: 0px;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 3;
        grid-row-end: -1;
        -webkit-grid-column-start: 1;
        -webkit-grid-column-end: -1;
        -webkit-grid-row-start: 3;
        -webkit-grid-row-end: -1;
    }
    
    .navbar {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
        -webkit-grid-column-start: 1;
        -webkit-grid-column-end: -1;
        -webkit-grid-row-start: 2;
        -webkit-grid-row-end: 3;
    }

    .navbar > hr {
        margin-bottom: 0px;
    }

    .blockimg {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    img {
        max-width: 100%;
    }
}


* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #FFF4F9;
    color: #222222;
}

a {
    color: #20A0AA;
}

a:hover {
    color: #178A93;
}

sup > a {
  text-decoration: none;
}

.content > ul {
    margin-left: 0px;
    list-style-type: "- ";
    font-size: 15px;
}

.sitehead > h1 {
    display: inline;
}

.sitehead > h1 > a {
    color: #222222;
    text-decoration: none;
}

.content > h3, h4, h5, h6 {
    margin-bottom: 2px;
}

.content > p, ul, ol {
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.content > blockquote {
    font-style: italic;
    text-align: center;
}

.content > blockquote > p {
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.content > #tight > p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#tight > p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.content > #tight > h5 {
    margin-top: 4px;
    font-style: normal;
}

#tight > h5 {
    margin-top: 4px;
    font-style: normal;
}
